*{  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:linen; text-align: center;
    box-sizing: border-box;
}

h2 {
padding: 2%
}

button {
    background-color: purple;
    font-size: 24px;
    color:white;
    border: 100%;
    padding: 2%;
    margin: 15px;
}

