* {
  margin:0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  box-sizing: border-box;
  color: rgb(85, 10, 85);
}
body{
  background-color:  rgb(207, 133, 236)
}

h2 {
  background: transparent;
  padding: 2%;
}

button {
  background: transparent;
  background-color: purple;
  font-size: 24px;  
  color: white;
  padding: 2%;
  margin: 15px;
  border: solid 3px rgb(226, 179, 226);
}

.high-score {
  background: transparent;
  background-color: purple;
  font-size: 24px;
  color: white;
  padding: 1%;
  text-decoration: none;
  margin: 15px;
  border: solid 3px rgb(226, 179, 226);
}

nav {
  background: transparent;
  text-align: left;
  padding: 25px;
  color: rgb(85, 10, 85);
  font-size: 24px;
}
a{
  background: transparent;
}
.coffee-cup { 
  margin-bottom: 117px ;
  background: transparent;
  /* background-color: rgb(251, 229, 251); */
 height: 350px;
}

.table {
  background: transparent;
  margin: 0 auto;
  margin-bottom: 12%;
}

#timerTwo{
  margin-top: 20px;
}